<div class="main">
    <div class="chat-box-div">
        <div class="inner-chat-box">
            <div class="heading-div">
                <h2>
                    Chat
                </h2>
                <div class="line"></div>
            </div>


            <div class="card">
                <div class="row g-0">
                    <div class="col-12">
                        <div class="py-2 px-4 border-bottom">
                            <div class="">
                                <strong>Emedimarket support</strong>
                                <!--<div class="text-muted small"><em>Typing...</em></div>-->
                            </div>
                        </div>

                        <div class="position-relative">
                            <div class="chat-messages p-4">

                                <ng-container *ngFor="let item of msgList">


                                    <div class="chat-message-right pb-4" *ngIf="item.reciver_contact_id != chatReciverId">
                                        <div class="bg-light rounded py-2 px-3 mr-3">
                                            <div class="c-user mb-1">You</div>
                                            {{item.body}}
                                        </div>
                                        <div>
                                            <div class="text-muted small text-nowrap mt-2 ct-right">{{item.created_at}}</div>
                                        </div>
                                    </div>

                                    <div class="chat-message-left pb-4" *ngIf="item.reciver_contact_id == chatReciverId">
                                        <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                            <div class="c-user mb-1">Sharon Lessman</div>
                                            {{item.body}}
                                        </div>
                                        <div>
                                            <div class="text-muted small text-nowrap mt-2 ct-left">{{item.created_at}}</div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="flex-grow-0 py-3 px-4 border-top">
                            <div class="input-group">
                                <input class="form-control chat-input" (keyup.enter)="onEnter()" [(ngModel)]="msg" placeholder="Type your message">
                                <button class="btn btn-primary s-btn" (click)="sendMessage()">Send</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>