<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active  h-80">
            <img src="./assets/EMediMarket_home_a.png" alt="Los Angeles" style="width:100%;">
        </div>

        <div class="item h-80">
            <img src="https://cdn.won.world/category/2020/12/31/won-world-648421efdddeef1545271a690872a915.jpg" alt="Chicago" style="width:100%;">
        </div>

        <div class="item h-80">
            <img src="https://cdn.won.world/category/2020/12/30/won-world-7145b87653ee5a729ff67d6c6000c765.jpg" alt="New york" style="width:100%;">
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>






<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <div class="card">
                <div class="card-body">
                    <h2>Categories</h2>
                    <h4 class="left-cat-list" *ngFor="let cat of allCategories">
                        <a routerLink="/cat/{{cat.id}}" class="text-decoration-none font-weight-bold">{{cat.name}}</a>
                    </h4>
                </div>
            </div>

        </div>
        <div class="col">
            <h2>Categories</h2>

            <main>
                <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
                    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
                        <div class="col main-cat-col" *ngFor="let mainCat of mainCategories">
                            <div class="card h-100 shadow-lg" routerLink="/cat/{{mainCat.id}}">
                                <img src="{{mainCat.img}}" class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="main-cat-title">{{ mainCat.name }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <div class="col">
                <h2>Products</h2>
                <main>
                    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
                        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
                            <a class="card card-product" *ngFor="let product of productList" routerLink="/{{product.id}}" target="_blank">
                                <img src="{{ product.img }}" class="card-img-top" appImage/>
                                <div class="card-body">
                                    <h2 class="card-title">{{ product.name }}</h2>
                                    <a routerLink="/{{product.id}}" class="btn btn-primary product-btn">Ask for price</a>
                                </div>
                            </a>
                        </div>
                    </div>


                </main>
            </div>

            <!-- <loading>Loading</loading> -->
            <load-more [offset]="100" (loadMore)="fetchMore($event);" [firstLoad]=true> </load-more>


        </div>
    </div>
</div>